<section id="skills">
    <h2 class="section-title">habilidades</h2>
    <div class="skills-grid">
        <div class="skill-category">
            <h3>Languages</h3>
            <p>C#, TypeScript, Python, JavaScript</p>
        </div>
        <div class="skill-category">
            <h3>Databases</h3>
            <p>SQL Server, MySQL, PostgreSQL</p>
        </div>
        <div class="skill-category">
            <h3>Frameworks</h3>
            <p>.Net, Angular, React, FastAPI, TailwindCSS</p>
        </div>
        <div class="skill-category">
            <h3>Tools</h3>
            <p>VSCode, Postman, Git, Trello</p>
        </div>
    </div>
</section>