<header>
    <nav>
        <span class="logo">Renan</span>
        <div class="hamburger" id="hamburger" (click)="toggleMenu()">
            &#9776; <!-- Ícone de hamburguer -->
        </div>
        <ul id="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">home</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">projetos</a></li>
            <li><a routerLink="/about" routerLinkActive="active">sobre</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active">contatos</a></li>
        </ul>
    </nav>
</header>