<h1 class="ml-0 flex text-3xl items-start justify-center text-white lg:items-center lg:justify-start lg:ml-10">Projetos</h1>
<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div *ngFor="let repository of repositories" class="p-4">
        <div class="bg-gray-200 rounded-md shadow-md min-w-366 min-h-204 max-w-530 max-h-229">
            <h2 class="text-xl font-bold mb-2 ml-2 pt-2">{{ repository.name }}</h2>
            <div class="flex space-x-2 mb-4 ml-2">
                <span *ngFor="let language of repository.programming_language"
                    class="bg-blue-500 text-white text-xs px-1 py-0.5 rounded">
                    {{ language }}
                </span>
            </div>
            <p class="text-sm text-gray-600 ml-2 mr-2 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae cum laborum, atque vero repellat labore temporibus tempore dolorum magnam sequi consequatur sit
                dolore nostrum iste eveniet laboriosam tempora nesciunt sunt!</p>
        </div>
    </div>
</div>

<div class="flex items-center justify-center">
    <button class="bg-blue-500 text-white px-6 py-3 rounded-lg mt-8 hover:bg-blue-600 transition duration-300 ease-in-out">ver todos projetos</button>
</div>
