.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    /* Espaçamento lateral */
    background-color: var(--background-color);
}

.text-section {
    max-width: 50%;
    /* Para ocupar 50% da largura */
}

.text-section h1 {
    color: var(--white-color);
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text-section h1 .highlight {
    color: var(--primary-color);
}

.text-section p {
    color: var(--gray-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 300px;
    border-radius: 10px 10px 0px 0px;

}

.title {
    color: var(--gray-color);
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid var(--gray-color);
}

.image-section p .highlight{
    color: var(--white-color);
}