.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    background-color: var(--background-color);
    flex-wrap: wrap;
}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    color: var(--white-color);
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text-section h1 .highlight {
    color: var(--primary-color);
}

.text-section p {
    color: var(--gray-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.profile-image {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.title {
    color: var(--gray-color);
    font-size: 18px;
    margin-top: 0px;
    padding: 5px 10px;
    border: 2px solid var(--gray-color);
    border-radius: 6px;
}

.image-section p .highlight {
    color: var(--white-color);
}

@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text-section, .image-section {
        max-width: 100%;
        text-align: center;
    }

    .text-section h1 {
        font-size: 28px;
    }

    .text-section p {
        font-size: 16px;
    }

    .profile-image {
        width: 250px;
    }

    .contact-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .text-section h1 {
        font-size: 24px;
    }

    .text-section p {
        font-size: 14px;
    }

    .profile-image {
        width: 200px;
    }
}
