<section class="presentation">
    <div class="text-section">
        <h1>
            Renan, o <span class="highlight">desenvolvedor</span> para resolver <span class="highlight">seu
                problema!</span>
        </h1>
        <p>
            Responsável por desenvolver soluções eficientes em back-end, criar websites responsivos e, explorar o design
            criativo.
        </p>
        <button class="contact-button">Entre em contato</button>
    </div>
    <div class="image-section">
        <img src="../../../../../assets/img/png/renan_lindo.png" alt="Renan" class="profile-image" />
        <p class="title">Atualmente trabalhando na <span class="highlight">DataSystem</span></p>
    </div>
</section>
