<section id="about">
    <h2 class="section-title">sobre</h2>
    <div class="about-content">
        <div class="about-text">
            <p>Olá, eu sou o Renan!
                <br><br>
                Atuando na <span>Data System</span>, nossa equipe se dedica a resolver desafios técnicos complexos, harmonizando a
                programação com as necessidades fiscais atuais. Com conhecimento em <span>C#, .NET Core e Angular</span>,
                colaboro na criação de soluções robustas e na manutenção da excelência dos produtos que desenvolvemos.
                <br><br>
                Estou em busca constante de aprimoramento e, atualmente, estou ampliando minhas competências com um <span>MBA
                em Engenharia de Software pela USP/Esalq</span>.  Minha motivação reside em impulsionar a inovação e eficiência
                por meio de práticas de código limpo e arquiteturas eficientes, alinhando minhas habilidades técnicas à
                visão estratégica da organização.
                <br><br>
            </p>
            <a href="#" class="btn">Ler mais →</a>
        </div>
        <div class="about-image">
            <img src="../../../../../assets/img/memes/zoas.jpg" alt="Renan">
        </div>
    </div>
</section>