#about {
    padding: 50px;
}

.section-title {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-family: 'Fira Code', monospace;
    font-size: 32px;
    position: relative;
}

.section-title::before {
    content: "#";
    color: var(--primary-color);
    margin-right: 8px;
}

.section-title::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    margin-left: 16px;
    margin-right: 70%;
    background-color: var(--primary-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    color: var(--gray-color);
    font-size: 16px;
    max-width: 55%;
}


.about-text span{
    color: var(--white-color);
}

.about-image img {
    width: 300px;
    height: auto;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}