<section id="about">
    <h2 class="section-title">sobre</h2>
    <div class="about-content">
        <div class="about-text">
            <p>Olá, eu sou o Renan!
                <br><br>
                Sou desenvolvedor full-stack, atualmente vivendo em Limeira-SP, Brasil. Minha jornada no mundo da
                tecnologia começou em 2019, quando ingressei na faculdade e comecei a realizar manutenções em
                computadores.
                <br><br>
                Em 2021, tive minha primeira oportunidade como desenvolvedor back-end e, após um ano, fui promovido a
                analista de desenvolvimento. Desde então, busco constantemente oferecer soluções criativas e eficientes.
                <br><br>
            </p>
            <a href="#" class="btn">Ler mais →</a>
        </div>
        <div class="about-image">
            <img src="../../../../../assets/img/memes/zoas.jpg" alt="Renan">
        </div>
    </div>
</section>