<section id="contacts">
    <h2 class="section-title">contato</h2>
    <div class="contacts-content">
        <div class="contacts-text">
            <p>Estou interessado em oportunidades como freelancer. No entanto, se você tiver outro pedido ou pergunta,
                não hesite em me contatar. Fico feliz em discutir novos projetos ou esclarecer dúvidas.</p>
        </div>
        <div class="contacts-call-me">
            <h3>Entre em contato!</h3>
            <p><a href="https://www.linkedin.com/in/renan-sousa21" target="_blank">LinkedIn: Renan Sousa</a></p>
            <p><a href="mailto:renan.sousa.dev@gmail.com">renan.sousa.dev&#64;gmail.com</a></p>
        </div>
    </div>
</section>