<section class="py-16 flex flex-col-reverse lg:flex-row">
    <div class="max-w-4xl mx-auto text-center lg:text-left lg:ml-10">
        <span class="text-blue-500 text-lg font-semibold">SOFTWARE DEVELOPER</span>
        <h1 class="text-5xl font-bold text-white">Renan</h1>
        <p class="mt-4 text-gray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia accusamus odit
            itaque eligendi optio consequuntur dicta iusto libero, sit recusandae? Dicta omnis reiciendis a odit quis
            saepe explicabo delectus facilis!</p>
        <button
            class="bg-blue-500 text-white px-6 py-3 rounded-lg mt-8 hover:bg-blue-600 transition duration-300 ease-in-out">Download
            CV</button>
    </div>
    <!-- <main-picture></main-picture> -->
</section>