<section id="projects">
    <div class="first-line">
        <h2 class="section-title">projetos</h2>
        <a href="#" class="view-all">View all →</a>
    </div>
    <div class="projects-grid">
        <div class="project-card">
            <img src="../../../../../assets/img/memes/zoas4.jpg" alt="Projeto ChertNodes">
            <h3>ChertNodes</h3>
            <p>Minecraft servers hosting</p>
            <button class="btn">Live ↔</button>
        </div>
        <div class="project-card">
            <img src="../../../../../assets/img/memes/zoas2.jpg" alt="Projeto ProtectX">
            <h3>ProtectX</h3>
            <p>Discord anti-crash bot</p>
            <button class="btn">Live ↔</button>
        </div>
        <div class="project-card">
            <img src="../../../../../assets/img/memes/zoas3.jpg" alt="Projeto Kahoot Answers Viewer">
            <h3>Kahoot Answers Viewer</h3>
            <p>Get answers to your Kahoot quiz</p>
            <button class="btn">Live ↔</button>
        </div>
    </div>
</section>