<!-- card.component.html -->
<h1 class="text-3xl m-4 text-center">Projetos</h1>
<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div *ngFor="let repository of repositories" class="p-4">
        <div class="bg-gray-200 rounded-md shadow-md min-w-366 min-h-204 max-w-530 max-h-229">
            <h2 class="text-xl font-bold mb-2 ml-2 pt-2">{{ repository.name }}</h2>
            <!-- Reduzi o tamanho da fonte para text-base -->
            <div class="flex space-x-2 mb-4 ml-2">
                <!-- <span *ngFor="let language of repository.programming_language"
                    class="bg-blue-500 text-white px-2 py-1 rounded">
                    {{ language }}
                </span> -->
                <!-- <span>

                    <span *ngIf="!repository.language || repository.language.length === 0"
                        class="bg-blue-500 text-white px-2 py-1 rounded">
                        Teste
                    </span>

                    <span *ngIf="repository.language && repository.language.length > 0"
                        class="bg-blue-500 text-white px-2 py-1 rounded">
                        {{ repository.language}}
                    </span>
                </span> -->

            </div>
            <!-- Adicionado ml-2 e mr-2 para a margem esquerda e direita -->
            <p class="text-sm text-gray-600 ml-2 mr-2 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae cum laborum, atque vero repellat labore temporibus tempore dolorum magnam sequi consequatur sit
                dolore nostrum iste eveniet laboriosam tempora nesciunt sunt!</p>
        </div>
    </div>
</div>