<footer id="main-footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-contact">
                <p><strong>Renan</strong> &nbsp; renan.sousa.dev&#64;gmail.com</p>
                <p>Web designer and front-end developer</p>
            </div>
            <p class="footer-copyright">© Copyright 2024. Renan</p>
        </div>
        <div class="footer-right">
            <p class="media-title">Media</p>
            <div class="footer-social-icons">
                <a href="https://github.com/renan"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/renan-sousa21"><i class="fab fa-linkedin"></i></a>
                <a href="https://discord.com/users/renan#1234"><i class="fab fa-discord"></i></a>
            </div>
        </div>
    </div>
</footer>